	#page-title-icon {
	background: #fff;
	height: 48px;
	width: 48px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	padding: 4px;
	margin-left: -16px;
	margin-top: -18px;
	position: relative;
	z-index: 10;
	float: left;
	
}

#page-title-icon-inner {
	background: #ffd35f;
	height: 48px;
	width: 48px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	margin-left: -52px;
	margin-top: -14px;
	position: relative;
	z-index: 30;
	float: left;
}


#page-title i {
	margin: -6px 2px -5px -18px;
	padding: 0px;
}

#page-title h2 {
	display: inline-block;
	font-family: "Boogaloo" !important;
	color: #fff;
	padding: 10px 20px 5px 20px;
	font-size: 30px;
}

#page-title span {
	color: #555;
}
